$mario: "/img/mario.gif";
$ground: "/img/ground.png";
$bushes: "/img/bushes.png";
$back: "/img/back.png";
$backWidth: 512px;
$backHeight: 432px;
$bushesWidth: 508px;
$bushesHeight: 79px;
$groundWidth: 68px;
$groundHeight: 22px;
$marioWidth: 30px;
$marioHeight: 54px;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  background-image: url($mario), url($ground), url($bushes), url($back);
  background-color: #f8e0b0;
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
  background-position: left 30% bottom $groundHeight, left 0 bottom 0,
    left 0 bottom $groundHeight, left 0 bottom 0;
  animation: back 15s infinite linear;
}

@keyframes back {
  0% {
    background-position: left 30% bottom $groundHeight, left 0 bottom 0,
      left 0 bottom $groundHeight, left 0 bottom 0;
  }
  50% {
    background-position: left 50% bottom $groundHeight,
      left (-($groundWidth * 12)) bottom 0px,
      left (-($bushesWidth * 1)) bottom $groundHeight,
      left (-($backWidth / 2)) bottom 0px;
  }
  100% {
    background-position: left 30% bottom $groundHeight,
      left (-($groundWidth * 24)) bottom 0px,
      left (-($bushesWidth * 2)) bottom $groundHeight,
      left (-$backWidth) bottom 0px;
  }
}
